<!DOCTYPE html>
<html>
  <head>
    <title>pridefulb&b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.shieldIcon = "<%= image_url('shield.png') %>";
    </script>
    <script type="text/javascript">
      window.prideBannerIcon = "<%= image_url('pride_banner.png') %>";
    </script>
    <script type="text/javascript">
      window.connectionIcon = "<%= image_url('connection.svg') %>";
    </script>
    <script type="text/javascript">
      window.invoiceIcon = "<%= image_url('invoice.svg') %>";
    </script>
    <script type="text/javascript">
      window.rainbowIcon = "<%= image_url('rainbow.svg') %>";
    </script>
    <script type="text/javascript">
      window.groupWalking = "<%= image_url('group_walking.jpg') %>";
    </script>
    <script type="text/javascript">
      window.coupleBeach = "<%= image_url('couple_beach.jpg') %>";
    </script>
      <script type="text/javascript">
      window.coupleBed = "<%= image_url('couple_bed.jpg') %>";
    </script>
    <script type="text/javascript">
      window.coupleBed2 = "<%= image_url('couple_bed2.jpg') %>";
    </script>
    <script type="text/javascript">
      window.starsTrustpilotRating = "<%= image_url('stars.svg') %>";
    </script>
    <script type="text/javascript">
      window.trustpilotLogo = "<%= image_url('trustpilot_logo.png') %>";
    </script>
    <script type="text/javascript">
      window.privateRoom = "<%= image_url('private_room.jpg') %>";
    </script>
    <script type="text/javascript">
      window.lgbtqHotel = "<%= image_url('lgbtq_hotel.jpg') %>";
    </script>
    <script type="text/javascript">
      window.clothingOptional = "<%= image_url('clothing_optional.jpg') %>";
    </script>
    <script type="text/javascript">
      window.apartment = "<%= image_url('apartment.jpg') %>";
    </script>
    <script type="text/javascript">
      window.lgbtqResort = "<%= image_url('lgbtq_resort.jpg') %>";
    </script>
    <script type="text/javascript">
      window.villas = "<%= image_url('villas.jpg') %>";
    </script>
    <script type="text/javascript">
      window.phoneApp = "<%= image_url('phone_app.jpg') %>";
    </script>
    <script type="text/javascript">
      window.googleStore = "<%= image_url('google_store_button.svg') %>";
    </script>
    <script type="text/javascript">
      window.appleStore = "<%= image_url('apple_store_button.svg') %>";
    </script>
    <script type="text/javascript">
      window.hostStoryBlog = "<%= image_url('host_story_blog.jpg') %>";
    </script>
    <script type="text/javascript">
      window.manageQuarantineBlog = "<%= image_url('manage_quarantine_blog.jpg') %>";
    </script>
    <script type="text/javascript">
      window.staycationBlog = "<%= image_url('staycation_blog.jpg') %>";
    </script>
    <script type="text/javascript">
      window.host = "<%= image_url('host.jpg') %>";
    </script>








    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "firstName": "<%= current_user.first_name %>"
        };
      </script>
    <% end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
