<!DOCTYPE html>
<html>
  <head>
    <title>pridefulb&b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.shieldIcon = "<%= image_url('https://www.flaticon.com/free-icon/shield_3179549?term=shield%20star&page=1&position=17&page=1&position=17&related_id=3179549&origin=search') %>";
    </script>


    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "first_name": "<%= current_user.first_name %>"
        };
      </script>
    <% end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
