<!DOCTYPE html>
<html>
  <head>
    <title>pridefulb&b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <%# <link rel="stylesheet" href="../../stylesheets/api/reset.css" type="text/css"> %>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap" rel="stylesheet">


    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "first_name": "<%= current_user.first_name %>"
        };
      </script>
    <% end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
